* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    /* max-width: 1400px; */
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_img {
    width: 25px;
    height: 25px;
}

.logo_link {
    text-decoration: none;
    color: #000;
    font-family: 'Playfair Display', serif;
    padding-left: 5px;
}

.links_img {
    padding-left: 40px;
    width: 20px;
    height: 20px;
}

.main {
    font-family: 'Noto Sans', sans-serif;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding: 0px 100px;
}

.toptitle {
    font-size: 22px;
    color: #FF9401;
    font-weight: 600;
}

.title {
    font-size: 80px;
    font-weight: 800;
}

.subtitle {
    font-size: 18px;
}

.top {
    padding: 20px;
}

.left_content button {
    margin-top: 50px;
    margin-bottom: 20px;
}

.button {
    background: #FF9401;
    border-radius: 31px;
    border: none;
    padding: 12px 24px;
    width: 210px;
    height: 52px;
    font-size: 16px;
    color: #fff;
}

.logos {
    display: flex;
}

.logos_icon_img {
    padding: 15px;
    margin: 10px;
    width: 15px;
    height: 15px;
    border: 2px solid #FF9401;
    background: #fff;
    border-radius: 22px;
}

.content_img {
    width: 500px;
    padding: 40px;
}

.right_content button {
    margin-top: 50px;
    margin-bottom: 20px;
}

.bgc {
    background: linear-gradient(180deg, rgba(255, 148, 1, 0.05) 0%, rgba(255, 237, 211, 0) 100%);
    padding-top: 30px;
}

.services {
    display: flex;
    margin-bottom: 100px;
}

.services_content {
    margin-top: 30px;
    text-align: center;
}

.services_content h2 {
    font-size: 75px;
    margin-bottom: 100px;
}

.service {
    display: flex;
    justify-content: space-around;
}

.service_block {
    margin: 30px;
    text-align: center;
}

.service_title {
    margin: 20px;
}

.service_icon {
    width: 90px;
    height: 90px;
}

.service_left_img {
    width: 267.12px;
    height: 178.08px;
    left: -86px;
    transform: rotate(-26.39deg);
}

.service_right_img {
    width: 479px;
    height: 319px;
}

.menu {
    text-align: center;
    padding-top: 85px;
    margin-bottom: 100px;
}

.menu_block {
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.items {
    background: #fff;
    padding: 12px 12px 12px;
    border-radius: 10px;
}

.item_name_rating {
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}

.item_rating {
    color: #818181;
}

.item_price_button {
    display: flex;
    justify-content: space-around;
}

.item_price {
    color: #FF9401;
    font-weight: 700;
}

.add {
    padding: 5px 10px;
    border: none;
    background: rgba(196, 196, 196, 0.26);
    border-radius: 15px;
    color: #696969;
}

.simple_block {
    padding-left: 100px;
}

.top_block {
    display: flex;
    justify-content: space-between;
}

.simple {
    padding: 100px;
}

.block {
    display: flex;
}

.cola_img {
    width: 260x;
    height: 260px;
    /* transform: matrix(-0.99, -0.13, -0.13, 0.99, 0, 0); */
}

.img {
    width: 400px;
    height: 346px;
}

.salat_img {
    width: 200px;
    height: 240px
}

.right_content img {
    width: 600px;
    margin-bottom: 100px;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;
}

.mail {
    padding: 15px 0px;
    margin-top: 20px;
}

.footer_mail {
    color: #3F3232;
    text-decoration: none;
}

.browser {
    padding: 10px 0px;
}

.footer_browser {
    color: #3F3232;
    text-decoration: none;
}

.head {
    padding: 10px 0px;
    font-size: 20px;
    color: #2E2E2E;
}

.footer_row {
    color: #6A5C5C;
    font-size: 18px;
    display: block;
    padding: 10px 0px;
}